<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping package="gmt.domain" />
        <mapping class="gmt.domain.MyJpaDomain"/>
        <mapping class="gmt.domain.MyOtherJpaDomain"/>

    </session-factory>
</hibernate-configuration>